    .footer {
        background-color:  #4a4a4a;
        color:#fff;
        padding-top: 45px;
        padding-bottom: 30px;
        position: relative;
    }

    .list1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 30px;
        
    }

    .list2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-bottom: 30px;
    }

    .text1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;

    }

    .text2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color:white;
    }
     
    .link {
        color: white;
        text-decoration: none;
        font-size: 16px;
        line-height: 30px;
    }

    .image3 {
        display: flex;
        background-color: white;
        padding: 8px;
        border-radius: 50%;
        transform: translateY(-65px);
        justify-content: space-around;
        margin: auto;
        
    }
    .list{
        @media(min-width:768px){}
        display:flex;
        flex-direction: row;
        margin:80px;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        
        .list1{
            order: 2;
            }
        .list2{
            order: 3;
            }
            .list3{
            order: 1;
            }
        }