.button{
    display: inline-block;
    width: 150px;
    background-color: white;
    color:#f26002;
    text-decoration: none;
    border-radius: 150px;
    text-align: center;
    border: 2px solid #f26002;
    margin-left: 30px;
    padding: 10px;
    justify-items: center;
        }

.section1{
    &_text1{
       font-family: roboto;
       font-size: 14px;
       flex-wrap: wrap;
       padding-top: 20px;
       height: 30px;
       padding-left: 10px;
       color:#f26002;
      }
    &_title{
        display: flex;
        font-style: border;
        color: black;
        margin: 10px;
        }
    &_text2{
        color: #4a4a4a;
        margin: 10px;
        text-align: left;
    }  
  }
    
    

    

    