<footer class="footer">
    <nav class="list">
        <ul class="list1">
            <li><a href="https://adalab.es">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es">ROPA</a></li>    
            <li><a href="https://adalab.es">NIÑO/A</a></li>
            <li><a href="https://adalab.es">DESTACADOS</a></li>
            <li><a href="https://adalab.es">TIPS</a></li>    
        </ul>
        <ul class="list2">
            <li><a href="https://adalab.es">TWITTER</a></li>
            <li><a href="https://adalab.es">INSTGARM</a></li>   
            <li><a href="https://adalab.es">YOUTUBE</a></li>     
        </ul>
        <p class="text1">&copy;2023</p>
        <p class="text2">we run</p>
    </nav>
     
 </footer>