<footer class="footer">
    <img class="image3" alt="" src="./images/ico-arrow.svg" >
    <nav class="list">
        <ul class="list1">
            <li><a class="link" href="https://adalab.es">ZAPATILLAS</a></li>
            <li><a class="link" href="https://adalab.es">ROPA</a></li>    
            <li><a class="link" href="https://adalab.es">NIÑO/A</a></li>
            <li><a class="link" href="https://adalab.es">DESTACADOS</a></li>
            <li><a class="link" href="https://adalab.es">TIPS</a></li>    
        </ul>
        <ul class="list2">
            <li><a class="link" href="https://adalab.es">TWITTER</a></li>
            <li><a class="link" href="https://adalab.es">INSTGARM</a></li>   
            <li><a class="link" href="https://adalab.es">YOUTUBE</a></li>     
        </ul>
        <ul class="list3">
            <li class="text1">&copy;2023</li>
            <li class="text2">we ❤︎ run</li>
        </ul>
        
       
    </nav>
     
 </footer>