<footer>
    <p>&copy;2023</p>
    <p>we run</p>
    <nav>
        <ul>
            <li><a href="https://adalab.es">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es">ROPA</a></li>    
            <li><a href="https://adalab.es">NIÑO/A</a></li>
            <li><a href="https://adalab.es">DESTACADOS</a></li>
            <li><a href="https://adalab.es">TIPS</a></li>    
        </ul>
        <ul>
            <li><a href="https://adalab.es">TWITTER</a></li>
            <li><a href="https://adalab.es">INSTGARM</a></li>   
            <li><a href="https://adalab.es">YOUTUBE</a></li>     
        </ul>


    </nav>
        
    
</footer>