<section class="section2">
         <h2>Año nuevo, movimientos nuevos</h2>
        <div class="div1">
         <article>
            <h3 class="title3">Entrenamientos</h3>
            <p class="subtitle">Sesiones de running y entrenamiento.</p>
        </article>
        <article>
            <h3 class="title3">Cualquier nivel</h3>
            <P class="subtitle">Entrenamientos para cada nivel.</P>
        </article>
        <article>
            <h3 class="title3">Exclusividad</h3>
            <p class="subtitle">Productos para miembros premium.</p>
        </article>
    </div> 
        <div>
            <p>Empezar ahora</p>
        </div>
</section>
